@font-face {
    font-family: 'edoregular';
    src: url('fonts/edo-webfont.woff2') format('woff2'),
         url('fonts/edo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_narrowregular';
    src: url('fonts/archivonarrow-regular-webfont.woff2') format('woff2'),
         url('fonts/archivonarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
	background-position: center;
	background-repeat: no-repeat;
}

.spacing {
  margin-bottom: 500px;
}

#visithead {
  margin-top: 500px;
}

#museum {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
  display: inline-block;
  width: 2000px;
  height: auto;
}

#grand {
  height: auto;
  width: 1100px;
  display: inline-block;
  margin-top: -550px;
  margin-right: 925px;
  float: right;
}

#logo {
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
}

#sign {
  height: auto;
  width: 1100px;
  display: inline-block;
  margin-top: -550px;
  margin-right: 925px;
  float: right;
}

#treasures {
  height: auto;
  width: 600px;
  display: inline-block;
  margin-top: -850px;
  margin-right: 1075px;
  float: right;
}

#children {
  height: auto;
  width: 1300px;
  display: inline-block;
  margin-top: -1025px;
  margin-right: 700px;
  margin-bottom: 150px;
  float: right;
}

#chef {
  width: auto;
  height: 1100px;
  display: inline-block;
  margin-top: -1025px;
  margin-left: 100px;
  margin-right: 975px;
  float: right;
}

#stem {
  width: 1300px;
  height: auto;
  display: inline-block;
  margin-top: -850px;
  margin-right: 700px;
  float: right;
}

ol {
  font-family: 'archivo_narrowregular', Times, Arial, serif;
  font-size: 1.8em;
  list-style-type: none;
  line-height: 2.0;
}

.listing {
  list-style: square;
  margin-left: 775px;
}

h1 {
	font-family: 'edoregular', Times, Arial, serif;
	line-height: 1;
	text-align: center;
	font-size: 100px;
	color: #000000;
}

h2 {
	font-family: 'edoregular', Times, Arial, serif;
	grid-column: 1 / 5;
	padding-top: 150px;
	padding-bottom: 0px;
  margin-top: 0px;
	margin-left: 775px;
	font-size: 75px;
	color: #000000;
}

h3 {
	font-family: 'edoregular', Times, Arial, serif;
	grid-column: 1 / 5;
	padding-top: 150px;
	padding-bottom: 25px;
	margin-left: 775px;
	font-size: 45px;
	color: #000000;
}

form {
  display: block;
}

input[type=text], select, textarea {
  width: 20%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-right: auto;
  margin-left: auto;
  display: block;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

footer {
	height: 50px;
	text-align: center;
	color: #FFFFFF;
}

.pages {
  font-family: 'kingthings_trypewriter_2Rg', Times, Arial, serif;
	margin-left: 50px;
	padding-top: 60px;
	grid-column: 1 / -1;
}

p {
	font-family: 'archivo_narrowregular', Times, Arial, serif;
	width: 1000px;
	font-size: 25px;
	text-indent: 75px;
	line-height: 1.8;
	margin-left: 775px;
	margin-right: 50px;
	color: #000;
	grid-column: 1 / 4;
}

ul {
	font-family: 'edoregular', Times, Arial, serif;
	font-size: 40px;
  text-align: center;
	list-style: none;
	color: white;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

ul li {
	float: left;
	width: 300px;
	height: 100px;
	line-height: 100px;
	opacity: .8;
	background-color: #000000;
}

ul li a	{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}

ul li a:hover {
	background-color: #808080;
}

ul li ul li	{
	display: none;
}

ul li:hover ul li {
	display: block;
}
